Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.

In [4]:
n=input()
b=n.split("@")
d=b[1]
e=d.split(".")
print(e[0],end="")

john@google.com
google

Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [7]:
n=input().split(",")
print(sorted(n))

without,hello,bag,world
['bag', 'hello', 'without', 'world']

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [7]:
n=list(map(int,input().split(" ")))
n=sorted(n)
a=n[-1]
b=(a*(a+1)//2)-sum(n)
print(b)

1 2 4 6 3 7 8
5

With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35

In [10]:
L=input().split(" ")
a=[]
for i in L:
    if i not in a:
        a.append(i)
print(" ".join(a))

1 2 2 3
1 2 3

Create your own Jupyter Notebook for Sets.

# Sets

A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements. Pythonâ€™s set class represents the mathematical notion of a set. The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set. This is based on a data structure known as a hash table. Since sets are unordered, we cannot access items using indexes like we do in lists.

In [12]:
# CREATING A SET
myset = set(["a", "b", "c"]) 
print(myset)

{'c', 'a', 'b'}

In [13]:
# ACCESS ITEMS IN A SET
for x in myset:
    print(x)

c
a
b

In [14]:
# CHANGE OR ADD ITEMS
myset.add("o")

print(myset)

{'c', 'a', 'o', 'b'}

In [15]:
# ADDING MULTIPLE ITEMS
myset.update(["orange", "mango", "grapes"])

print(myset)

{'c', 'grapes', 'a', 'mango', 'b', 'o', 'orange'}

In [16]:
# LENGTH OF SETS
print(len(myset))

7

In [17]:
# REMOVE ITEM
myset.remove("a")
print(myset)
myset.discard("b")
print(myset)

{'c', 'grapes', 'mango', 'b', 'o', 'orange'}
{'c', 'grapes', 'mango', 'o', 'orange'}

In [18]:
# POP
x = myset.pop()
print(x)
print(myset)

c
{'grapes', 'mango', 'o', 'orange'}

In [19]:
# CLEAR AND DELETE
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [21]:
thisset_1 = {"apple", "banana", "cherry"}
print(thisset_1)
del thisset_1 

print(thisset_1)

{'banana', 'cherry', 'apple'}

NameError: name 'thisset_1' is not defined

In [22]:
# JOIN TWO SETS
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

In [23]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'a', 'b'}

In [24]:
# FROZEN SETS
normal_set = set(["a", "b","c"]) 
  
print("Normal Set") 
print(normal_set)  
frozen_set = frozenset(["e", "f", "g"]) 
print("\nFrozen Set") 
print(frozen_set)

Normal Set
{'c', 'a', 'b'}

Frozen Set
frozenset({'e', 'g', 'f'})